
 <h2>Artículos</h2>
 <div class="articulos">
   <form class="formulario" action="/editar" method="get">
     <input type="search" name="q" {{#if q}}value="{{q}}"{{/if}}>
     <button type="submit">Buscar</button>
   </form>
 </div>
      {{#each articulos}}
        <div class="articulo"> <a href="/articulo/{{id}}"></a>
            <h3>{{titulo}}</h3>
            <h4>{{subtitulo}}</h4>
            <p>{{resumen}}</p>
           
        </div>
      {{/each}}
      {{#if is_search}}
        {{#unless articulos.length}}
        <p>No se encontraron resultados para <b>"{{q}}"</b></p>
        {{/unless}}
        {{/if}}